@use "../../assets/css/variables.scss";

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  &__button {
    border-radius: 100px;
    border: 2px solid variables.$color-primary;
    align-self: center;
    padding: 0;
  }

  &__arrow {
    padding: 23px 19px 19px;
  }

  &__arrow_right {
    transform: scale(-1, 1);
  }
}
