@use "../../assets/css/variables.scss";

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }

  &__wraper_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    justify-content: space-between;
  }

  &__button {
    border-radius: 100px;
    border: 2px solid variables.$color-primary;
    align-self: center;
    padding: 0;
  }

  &__arrow {
    padding: 23px 19px 19px;
  }

  &__arrow_right {
    transform: scale(-1, 1);
  }
}
