@font-face {
  font-family: "Wallpoet-Regular";
  src: url("../fonts/Wallpoet-Regular.ttf");
}

@font-face {
  font-family: "DSEG14Classic-Bold";
  src: url("../fonts/DSEG14Classic-Bold.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins.ttf");
}
