@charset "UTF-8";
:root {
  --color-light-s: #fafafa;
}

@font-face {
  font-family: Inria Sans;
  src: url("../fonts/InriaSans-Regular.ttf");
}
.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 900;
  color: black;
  min-height: 75px;
}
.footer__logo {
  width: 80px;
}
.footer__wraper {
  margin: auto;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}
.footer__link {
  text-decoration: none;
  color: #999aaa;
}

.audio-player {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  background: #2a2389;
  border-radius: 15px;
  -moz-box-shadow: 0px 0px 11px 0px rgb(0, 0, 0);
  box-shadow: 0px 0px 11px 0px rgb(0, 0, 0);
  padding-bottom: 20px;
}
.audio-player__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  gap: 5px;
}
.audio-player__play-button, .audio-player__pause-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 7px;
  border: 1px solid white;
}
.audio-player__play-button:hover, .audio-player__pause-button:hover, .audio-player__next-button:hover, .audio-player__previous-button:hover {
  background: rgba(0, 0, 0, 0.3);
}
.audio-player__next-button, .audio-player__previous-button {
  padding: 2px;
  display: flex;
  border-radius: 50%;
}
.audio-player__play-icon, .audio-player__pause-icon, .audio-player__next-icon, .audio-player__previous-icon {
  width: 30px;
  height: 30px;
  color: #f0f0f0;
}
.audio-player__play-button:hover, .audio-player__pause-button:hover, .audio-player__next-button:hover, .audio-player__previous-button:hover {
  cursor: pointer;
}
.audio-player__singer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #f0f0f0;
  font-weight: 900;
  line-height: 20px;
}
.audio-player__song {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #ccc;
  font-weight: 400;
  line-height: 18px;
}
.audio-player__image {
  width: auto;
  height: 225px;
  object-fit: cover;
  margin: 40px 40px 20px;
  border-radius: 15px;
  border: 5px #ccc solid;
  box-shadow: 0px 0px 7px 0px rgb(0, 0, 0);
}

.hide {
  display: none;
}

.progress-bar {
  padding: 0 10px;
  margin: 10px auto;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  color: #f0f0f0;
  font-size: 13px;
}
.progress-bar__container {
  position: relative;
  width: 100%;
  /* background-color: #ddd;
  height: 10px;
  position: relative;
  text-align: start;
  white-space: nowrap; */
}
.progress-bar__duration, .progress-bar__current-time {
  white-space: nowrap;
}
.progress-bar__label {
  -webkit-appearance: none;
  width: 100%;
  /*  height: 5px;
  background: rgb(128, 0, 0); 
  border-radius: 5px;
  outline: aqua;*/
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
}

/* Стили для ползунка */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Убирает стандартный вид */
  width: 8px; /* Ширина ползунка */
  height: 20px; /* Высота ползунка */
  background: #081657; /* Цвет ползунка */
  border: 1px solid rgba(253, 252, 228, 0.877);
  border-radius: 40%; /* Делаем ползунок круглым */
  cursor: pointer; /* Курсор при наведении */
  transition: background 0.3s ease; /* Анимация при наведении */
  margin-top: -7.5px; /* Выравнивание ползунка по центру трека */
  position: relative;
  z-index: 3;
}

/* Стили для фокуса */
input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px rgba(40, 132, 218, 0.5); /* Тень при фокусе */
}

.progress-bar__progress {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  height: 6px;
  border-left: 1px solid #f0f0f0;
  background: linear-gradient(to top, #2322b3, #3f51b5, #2196f3, #2538a5, #2538a5, #2196f3, #3f51b5, #2322b3);
  border-radius: 5px;
  width: 0%; /* Начальное значение */
  transition: width 0.1s ease;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.page {
  background: radial-gradient(circle, rgb(55, 51, 129) 0%, rgba(38, 38, 175, 0.9570421919) 50%, rgb(24, 173, 203) 100%);
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  padding-bottom: 8%;
}

/*# sourceMappingURL=styles.css.map */
