.progress-bar {
  width: 120px;
  margin: 0 auto;

  &__container {
    width: 100%;
    background-color: #ddd;
    height: 10px;
    position: relative;
    text-align: start;
    white-space: nowrap;
  }

  &__label {
    height: 100%;
    display: inline-block;
    background-color: #4caf50;
    width: 0%;
    vertical-align: top;
  }
  &__toddler {
    display: inline-block;
    position: relative;
    left: -10px;
    top: -2px;
    height: 15px;
    width: 15px;
    background-color: #555;
    border-radius: 50%;
  }
}
