.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 900;
  color: black;
  min-height: 75px;

  &__logo {
    width: 80px;
  }

  &__wraper {
    margin: auto;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: #999aaa;
  }
}
