body {
  height: 100%;
}

.page {
  background: radial-gradient(
    circle,
    rgba(55, 51, 129, 1) 0%,
    rgba(38, 38, 175, 0.9570421918767507) 50%,
    rgba(24, 173, 203, 1) 100%
  );
  display: flex;
  flex-direction: column;
  min-width: max-content;
  min-height: 100vh;

  &_light {
    background: white;
  }
}
