.progress-bar {
  padding: 0 10px;
  margin: 10px auto;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  color: #f0f0f0;
  font-size: 13px;

  &__container {
    width: 220px;
    /* background-color: #ddd;
    height: 10px;
    position: relative;
    text-align: start;
    white-space: nowrap; */
  }

  &__label {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: green;
    border-radius: 5px;
    outline: aqua;
  }
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
}

/* Стили для ползунка */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Убирает стандартный вид */
  width: 20px; /* Ширина ползунка */
  height: 20px; /* Высота ползунка */
  background: #4caf50; /* Цвет ползунка */
  border-radius: 50%; /* Делаем ползунок круглым */
  cursor: pointer; /* Курсор при наведении */
  transition: background 0.3s ease; /* Анимация при наведении */
  margin-top: -5px; /* Выравнивание ползунка по центру трека */
}

/* Стили при наведении на ползунок */
input[type="range"]::-webkit-slider-thumb:hover {
  background: #45a049; /* Изменение цвета при наведении */
}

/* Стили для фокуса */
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5); /* Тень при фокусе */
}
